scopeName: 'source.secondmemory'
name: 'SM - Markdown'
fileTypes: [
  'md'
]

patterns: [
    { include: "#line" }
]

repository:
  line:
    name: "line"
    begin: '^'
    end: '$'
    patterns: [
        { include: "#headings" }
        { include: "#bullets" }
        { include: "#quote" }
        { include: "#codeblock" }
        { include: "#plaintext" }
    ]

# ---------------
#  Core elements
# ---------------

  headings:
    patterns: [
      {
        match: '^(#{1,6})\\s(.*)$'
        captures:
          0:
            name: "heading"
            patterns: [
              { include: "#textheadings" }
            ]
      }
    ]
  textheadings:
    patterns: [
      {
        match: '^(#)[ ]((.*))$'
        captures:
          1: name: 'symbol'
          2: name: 'h1.text'
          3: name: 'text'
      },
      {
        match: '^(#{2})[ ]((.*))$'
        captures:
          1: name: 'symbol'
          2: name: 'h2.text'
          3: name: 'text'
      },
      {
        match: '^(#{3})[ ]((.*))$'
        captures:
          1: name: 'symbol'
          2: name: 'h3.text'
          3: name: 'text'
      },
      {
        match: '^(#{4})[ ]((.*))$'
        captures:
          1: name: 'symbol'
          2: name: 'h4.text'
          3: name: 'text'
      },
      {
        match: '^(#{5})[ ]((.*))$'
        captures:
          1: name: 'symbol'
          2: name: 'h5.text'
          3: name: 'text'
      },
      {
        match: '^(#{6})[ ]((.*))$'
        captures:
          1: name: 'symbol'
          2: name: 'h6.text'
          3: name: 'text'
      }
    ]

  # Bullets
  bullets:
    patterns: [
      {
        name: 'bullet'
        match: '^(\\s*)([-*])[ ](.*)$'
        captures: {
          1:
              name: 'leadingspace'
          2:
              name: 'symbol'
          3:
              name: 'text'
              patterns: [
                { include: "#checkboxes" }
                { include: "#emphasis" }
                { include: "#keywords" }
              ]
        }
      }
    ]

  # Quotes
  quote:
    patterns: [
      {
        name: 'quote'
        match: '^(\\s*)(>)[ ](.*)$'
        captures: {
          1:
              name: 'leadingspace'
          2:
              name: 'symbol'
          3:
              name: 'text'
        }
      }
    ]

  # Plain text
  plaintext:
    patterns: [
      {
        match: '^(\\s*)(.*)$'
        captures: {
          1:
              name: 'leadingspace'
          2:
              name: 'text'
              patterns: [
                { include: "#emphasis" }
                { include: "#keywords" }
                { include: "#checkboxes" }
              ]
        }
      }
    ]

  # Code blocks
  codeblock:
    patterns: [
      {
        begin: '[ ]*```'
        end: '```'
        name: 'codeblock'
      }
    ]

  #  Emphasis
  emphasis:
    patterns: [
      {
        name: 'emphasis.strikethrough'
        match: '(~~)([^~]*)(~~)'
        captures: {
          1: name: 'emphasis.symbol'
          2: name: 'emphasis.text'
          3: name: 'emphasis.symbol'
        }
      },
      {
        name: 'emphasis.bold'
        match: '[^\\w]([*]{2})([^~]*)([*]{2})(\\s|$)'
        captures: {
          1: name: 'emphasis.symbol'
          2: name: 'emphasis.text'
          3: name: 'emphasis.symbol'
        }
      },
      {
        name: 'emphasis.italic'
        match: '[^\\w]([_])([^~_]*)([_])(\\s|$)'
        captures: {
          1: name: 'emphasis.symbol'
          2: name: 'emphasis.text'
          3: name: 'emphasis.symbol'
        }
      }
    ]


# -----------
#  Keywords
# -----------

  keywords:
    patterns: [
      {
        name: 'mdkeyword.email'
        match: '(\\w+\\.?)+@(\\w+\\.?)+'
      },
      {
        name: 'mdkeyword.nickname'
        match: '@([\\w]+)'
      },
      {
        name: 'mdkeyword.url'
        match: 'https?:\\/\\/([\\w-]+\\.?)+(:\\d+)?(\\/[\\(\\)-\\.\\w@:]+)*(\\/)?(\\?[^\\s]+)?(#[-\\.\\w]+)?'
      },
      {
        match: '\\[\\[(.*)\\]\\]'
        captures: {
          1: name: 'mdkeyword.mdlink1'
        }
      },
      {
        name: 'mdkeyword.date'
        match: "\\d{2}/\\d{2}/\\d{4}|\\d{2}-\\d{2}-\\d{4}"
      },
      {
        name: 'mdkeyword.tag'
        match: "#([\\w|-]+){1,}"
      },
      {
        name: 'mdkeyword.star'
        match: "⭐"
      },
    ]

# ----------------
#  Org checkboxes
# ----------------

  checkboxes:
    patterns: [
      {
        name: 'checkbox.todo'
        match: "\\[ \\]"
      },
      {
        name: 'checkbox.inprogress'
        match: "\\[/\\]"
      },
      {
        name: 'checkbox.blocked'
        match: "\\[[oO]\\]"
      },
      {
        name: 'checkbox.donebefore'
        match: "(\\[[<]\\])(.*)"
        captures: {
          1: name: 'box'
          2: name: 'text'
        }
      },
      {
        name: 'checkbox.done'
        match: "(\\[[xX]\\])(.*)"
        captures: {
          1: name: 'box'
          2: name: 'text'
        }
      },
      {
        name: 'checkbox.next'
        match: "(\\[>\\])([^\\(\\)]*)(\\(.*\\))?"
        captures: {
          1: name: 'box'
          2: name: 'text'
          3: name: 'nextdate'
        }
      },
      {
        name: 'checkbox.canceled'
        match: "(\\[-\\])\\s?(.*)"
        captures: {
          1: name: 'box'
          2: name: 'text'
        }
      },
    ]
