scopeName: 'source.secondmemory'
name: 'SM - Markdown'
fileTypes: [
  'md'
]

patterns: [
    { include: "#line" }
]

repository:
  line:
    name: "line"
    begin: '^'
    end: '$'
    patterns: [
        { include: "#headings" }
        { include: "#bullets" }
        { include: "#plaintext" }
    ]
  headings:
    patterns: [
      {
        # name: 'block-$1'
        # begin: '^(#{1,6})\\s(.*)(\\d{4}-\\d{2}-\\d{2})([^\\d].*)$'
        match: '^(#{1,6})\\s(.*)$'
        captures:
          0:
            name: "heading"
            patterns: [
              { include: "#textheadings" }
            ]
        # beginCaptures:
        #   0:
        #     name: "heading"
        #     patterns: [
        #       { include: "#textheadings" }
        #     ]
        # end: '^(?=#+\\s)(?!\\1#+)'
        # patterns: [
        #   # { include: "$self" }
        #   { include: "#bullets" }
        #   { include: "#keywords" }
        # ]
      }
    ]
  textheadings:
    patterns: [
      {
        match: '^(#\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h1.text'
      },
      {
        match: '^(#{2}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h2.text'
      },
      {
        match: '^(#{3}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h3.text'
      },
      {
        match: '^(#{4}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h4.text'
      },
      {
        match: '^(#{5}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h5.text'
      },
      {
        match: '^(#{6}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h6.text'
      }
    ]

# --------------------------------------

  keywords:
    patterns: [
      {
        name: 'keyword.tag'
        match: "#([\\w|-]+){1,}"
      },
      {
        name: 'keyword.nickname'
        match: '@([\\w]+){1,}'
      }
    ]

  labels:
    patterns: [
      {
        name: 'label.star'
        match: "⭐"
      },
      {
        name: 'label.todo'
        match: '\\[TODO\\]'
      },
      {
        name: 'label.amber'
        match: '\\[AMBER\\]'
      },
      {
        name: 'label.red'
        match: '\\[RED\\]'
      },
      {
        name: 'label.checkbox'
        match: '\\[[xX\\s]\\]'
      }
    ]

# --------------------------------------

  bullets:
    patterns: [
      {
        match: '^(\\s*)(([-*])\\s+(.*))$'
        captures: {
          2:
              name: 'bullet'
          3:
              name: 'bullet.symbol'
          4:
              name: 'bullet.contents'
              patterns: [
                { include: "#bulletcontents" }
              ]

        }
      }
    ]

  bulletcontents:
    patterns:[
      {
        name: 'task'
        match: "^((\\[TODO\\])\\s*(((⭐|\\[\\w+\\])\\s*)*))\\s*(.*)"
        captures: {
          1:
              patterns: [
                { include: "#labels" }
              ]
          6:
              name: 'text'
              patterns: [
                { include: "#keywords" }
              ]
          }
      },
      {
        match: "^\\[DONE\\]\\s(.*)"
        captures: {
          1:
              name: 'text'
          }
      },
      {
        match: "^(.*)"
        captures: {
          1:
              name: 'text'
              patterns: [
                { include: "#labels" }
                { include: "#keywords" }
              ]
          }
      }
    ]

  plaintext:
    patterns: [
      {
        match: '^(\\s*)(.*)$'
        captures: {
          1:
              name: 'whitespace'
          2:
              name: 'text'
        }
      }
    ],
