scopeName: 'source.secondmemory'
name: 'SM - Markdown'
fileTypes: [
  'org'
  'md'
]

patterns: [
    { include: "#line" }
]

repository:
  line:
    name: "line"
    begin: '^'
    end: '$'
    patterns: [
        { include: "#headers" }
        { include: "#keywords" }
        { include: "#bullets" }
        { include: "#headingBlock" }
    ]
  headingBlock:
    patterns: [
      {
        # name: 'block-$1'
        # begin: '^(#{1,6})\\s(.*)(\\d{4}-\\d{2}-\\d{2})([^\\d].*)$'
        match: '^(#{1,6})\\s(.*)$'
        captures:
          0:
            name: "headerline"
            patterns: [
              { include: "#textheadings" }
            ]
        # beginCaptures:
        #   0:
        #     name: "headerline"
        #     patterns: [
        #       { include: "#textheadings" }
        #     ]
        # end: '^(?=#+\\s)(?!\\1#+)'
        # patterns: [
        #   # { include: "$self" }
        #   { include: "#bullets" }
        #   { include: "#keywords" }
        # ]
      }
    ]
  textheadings:
    patterns: [
      {
        match: '^(#\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h1.text'
      },
      {
        match: '^(#{2}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h2.text'
      },
      {
        match: '^(#{3}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h3.text'
      },
      {
        match: '^(#{4}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h4.text'
      },
      {
        match: '^(#{5}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h5.text'
      },
      {
        match: '^(#{6}\\s)(.*)$'
        captures:
          1: name: 'symbol'
          2: name: 'h6.text'
      }
    ]

# --------------------------------------

  keywords:
    patterns: [
      {
        name: 'tag'
        match: "#([\\w|-]+){1,}"
      },
      {
        name: 'nickname'
        match: '@([\\w]+){1,}'
      },
      {
        name: 'star'
        match: "⭐"
      },
      {
        match: '\\[(={1,2})\\s*\\]'
        captures:
          1: name: 'labelred'
      },
      {
        match: '\\[(={3})\\s*\\]'
        captures:
          1: name: 'labelamber'
      },
      {
        match: '\\[(={4,5})\\s*\\]'
        captures:
          1: name: 'labelgreen'
      }
    ]

# --------------------------------------

  bullets:
    patterns: [
      {
        match: '^(\\s*)(([-*])\\s+(.*))$'
        captures: {
          1:
              name: 'bullet.whitespace'
          2:
              name: 'bullet'
          3:
              name: 'bullet.symbol'
          4:
              patterns: [
                { include: "#bulletcontents" }
              ]

        }
      }
    ],

  bulletcontents:
    patterns:[
      {
        name: "task"
        match: "^(\\[TODO\\]\\s(\\[.*\\]\\s*)*)\\s*(.*)"
        captures: {
          1:
              patterns: [
                { include: "#tasklabels" }
              ]
          3:
              name: 'text'
              patterns: [
                { include: "#keywords" }
              ]
          }
      },
      {
        name: "item"
        match: "^(\\[.*\\]\\s*)*\\s*(.*)"
        captures: {
          1:
              patterns: [
                { include: "#nontasklabels" }
              ]
          2:
              name: 'text'
              patterns: [
                { include: "#keywords" }
              ]
          }
      }
    ]

  tasklabels:
    patterns:[
      {
        name: 'label.todo'
        match: '\\[TODO\\]'
      },
      {
        name: 'label.priority1'
        match: '\\[>\\]'
      },
      {
        name: 'label.priority2'
        match: '\\[>>\\]'
      }
    ]

  nontasklabels:
    patterns:[
      {
        name: 'label.checkbox'
        match: '\\[[xX\\s]\\]'
      }
    ]
