'atom-text-editor[data-grammar="source secondmemory"]':
  'tab': 'sm:indent',
  'shift-tab': 'sm:outdent'
  'enter': 'sm:newLine'
  'shift-enter': 'sm:insertLineBefore'
  'ctrl-1': 'sm:createHeading'
  'ctrl-2': 'sm:createList'

  'ctrl-shift-t': 'sm:toggleCheckbox'
  'ctrl->': 'sm:toggleStatus'

  'ctrl-i d': 'sm:insertDate'

  'alt-s': 'sm:strikeout'
  'alt-b': 'sm:bold'
  'alt-i': 'sm:italic'
