'atom-text-editor[data-grammar="source secondmemory"]':
  'tab': 'sm:indent',
  'shift-tab': 'sm:outdent'
  'ctrl-space': 'sm:createList'
  'enter': 'sm:newLine'

  'ctrl-i s': 'sm:strikeout'
  'ctrl-i d': 'sm:insertDate'
  'ctrl-shift-t': 'sm:toggleTask'
  'ctrl->': 'sm:toggleStatus'
  'ctrl-*': 'sm:toggleStar'

'atom-text-editor':
  'ctrl-s m': 'sm:toggleSidebar'
