@import "ui-variables";
@import "syntax-variables";

atom-panel {
  //Styling for the sidebart
  div.sm-panel-container {
    // -webkit-user-select: auto;
    width: 400px;
    min-width: 200px;
    // font-size: 1.2em;

    div.sm-panel-resize-handle {
      float: left;
      height: calc(100%);
      width: 5px;
      cursor: col-resize;
    }

    div.sm-panel {
      height: calc(100%);
      // float:right;
      overflow: scroll;

      li.sm-panel-icons {
        position: absolute;
        // float: right;
        right: -5px;
        top: 7px;
      }

      ul {
        border: 0px !important;
      }

      span.todo-title-icon {
        position: relative;
        float: left;
        top: 2px;
        margin-right: 8px;
        margin-left: 8px;
      }

      span.todo-title {
        top: 0px;
        font-size: larger;
        position: relative;
      }

      ul.sm-panel-todo-list {
        margin-top: 8px;
        padding-left: 12px;

        list-style: none;
        display:block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      ul.sm-panel-stars-list {
        margin-top: 8px;
        padding-left: 12px;

        list-style: none;
        display:none;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      li .icon::before {
        margin-right: 0px;
        margin-left: 0px;
      }

    }
  }
}


atom-text-editor {
  .syntax--secondmemory {

    .syntax--heading {

      .syntax--h1.syntax--text {
        font-weight: bold;
        color: @text-color-warning;
      }

      .syntax--h2.syntax--text {
        font-weight: bold;
        color: @text-color-info;
      }

      .syntax--h3.syntax--text {
        font-weight: bold;
        color: @text-color-selected;
      }

      .syntax--h4.syntax--text {
        font-weight: bold;
      }

      .syntax--h5.syntax--text {
        color: @text-color-selected;
      }

      .syntax--h6.syntax--text {
      }

      .syntax--symbol {
        color: @syntax-invisible-character-color;
        font-size: 25%;
      }
    }

    .syntax--keyword.syntax--nickname {
      font-style: italic;
      color: @text-color;
    }

    .syntax--keyword.syntax--tag {
      font-style: italic;
      color: @text-color;
    }

    .syntax--bullet.syntax--symbol {
      color: @text-color-selected;
    }

    .syntax--bullet {

      .syntax--label.syntax--green {
        color: @text-color-success;
      }
      .syntax--label.syntax--amber {
        color: @text-color-warning;
      }
      .syntax--label.syntax--red {
        color: @text-color-error;
      }

      .syntax--label.syntax--todo {
        color: @text-color-selected;
      }

      .syntax--label.syntax--done {
      }

      .syntax--label.syntax--star {
        color: @text-color-warning;
      }
    }
  }
}
